@charset "utf-8";
/* CSS Document */
body {
  background-color: #ffffff;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Tahoma, microsoft yahei, Arial, sans-serif;
  font-size: 14px;
}
blockquote,
body,
button,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
a:hover {
  color: #07f;
}
img {
  border: none;
  -ms-interpolation-mode: bicubic;
}
table {
  border-collapse: collapse;
}
i,
b,
em {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}
button,
input,
select,
textarea {
  font-size: inherit;
  font-family: inherit;
  outline: none;
}
label,
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}
button,
input {
  *overflow: visible;
}
iframe {
  border: 0;
  outline: none;
}
.left {
  float: left;
  _display: inline;
}
.right {
  float: right;
  _display: inline;
}
.overflow {
  height: auto;
  overflow: hidden;
}
.overflow-clear {
  width: auto;
}
.overflow-clear:after,
.floatClear:after {
  content: "";
  display: block;
  clear: both;
}
.center {
  text-align: center;
}
.center > * {
  display: inline-block;
  vertical-align: bottom;
}
.vertical {
  font-size: 0;
}
.vertical:before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 0px;
  height: 100%;
}
.vertical > * {
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
}
/*蒙层*/
.mask {
  position: relative;
}
.mask:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}
/*colors*/
.text-navy {
  color: #1ab394;
}
.text-primary {
  color: inherit;
}
.text-success {
  color: #1c84c6;
}
.text-info {
  color: #23c6c8;
}
.text-warning {
  color: #f8ac59;
}
.text-danger {
  color: #ed5565;
}
.text-muted {
  color: #888888;
}
/* 输入框placeholder字体颜色*/
.placeholder {
  color: #dddddd;
}
::-webkit-input-placeholder {
  color: #dddddd;
}
:-moz-placeholder {
  color: #dddddd;
}
::-moz-placeholder {
  color: #dddddd;
}
:-ms-input-placeholder {
  color: #dddddd;
}
/*移动端去阴影*/
.mobile,
.a_mobile {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
/*文本对齐*/
.textC {
  text-align: center !important;
}
.textL {
  text-align: left !important;
}
.textR {
  text-align: right !important;
}
.textLR {
  text-align: justify;
  text-justify: inter-word;
}
/*文本强制换行*/
.textQzhh {
  word-break: break-all;
  word-wrap: break-word;
}
.textOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*隐藏*/
.hide {
  visibility: hidden;
}
.none {
  display: none;
}
/*黑白滤镜*/
.gray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
  filter: gray;
}
/*css3弹性盒子*/
.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flexBox > *,
.flexColumn > * {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}
.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flexItem {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flex-2 {
  -webkit-box-flex: 2;
  -ms-flex: 2 2 auto;
  flex: 2 2 auto;
}
.flex-3 {
  -webkit-box-flex: 3;
  -ms-flex: 3 3 auto;
  flex: 3 3 auto;
}
.flex-4 {
  -webkit-box-flex: 4;
  -ms-flex: 4 4 auto;
  flex: 4 4 auto;
}
.flex-5 {
  -webkit-box-flex: 5;
  -ms-flex: 5 5 auto;
  flex: 5 5 auto;
}
.flex-6 {
  -webkit-box-flex: 6;
  -ms-flex: 6 6 auto;
  flex: 6 6 auto;
}
.flex-7 {
  -webkit-box-flex: 7;
  -ms-flex: 7 7 auto;
  flex: 7 7 auto;
}
.flex-8 {
  -webkit-box-flex: 8;
  -ms-flex: 8 8 auto;
  flex: 8 8 auto;
}
.flex-9 {
  -webkit-box-flex: 9;
  -ms-flex: 9 9 auto;
  flex: 9 9 auto;
}
/*webkit滚动条*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f5f5f5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f5f5f5;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cccccc;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  background-color: #000;
  color: #fff;
  overflow: hidden;
}
#video {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 69%;
  height: 69%;
  transform: translate(-50%, -50%);
}
#three-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
}
/*# sourceMappingURL=index.css.map */